
{% extends "law/base.html" %}
{% load static %}
{% block content %}
    <header class="masthead" style="background-image:url({% static 'law/assets/img/chat.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                  <div class="post-heading">
                    <h1>Let us chat</h1>
                    <h2 class="subheading">Coming Soon</h2>
                  </div>
                </div>
          </div>
    </header>
{% endblock content %}
