
{% load static %}
{% include "../law/header.html" %}

<body>

{% include '../law/menu.html' %}

<header class="masthead" style="background-image:url({% static 'law/assets/img/chat.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
              <div class="post-heading">
                <h1>Let us chat</h1>
                <h2 class="subheading">Coming Soon</h2>
              </div>
            </div>
      </div>
</header>

    {% include '../law/footer.html' %}

    <!-- js links -->
    {% include '../law/js.html' %}
    <!--
    <script src="{% static 'law/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'law/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'law/assets/js/script.min.js' %}"></script>
    -->

</body>

</html>
