{% load static %}
{% include "../law/header.html" %}

<body>

{% include '../law/menu.html' %}

    <header class="masthead" style="background-image:url({% static 'law/assets/img/community/community.png' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>Community Views</h1><span class="subheading">We Love, No Hate!</span></div>
                </div>
            </div>
        </div>
    </header>

    <!-- content starts -->
    <div class="container">

<!-- Card deck -->
<div class="card-deck row">

  <div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="{% static 'law/assets/img/community/c1.jpeg' %}" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Love Always Wins</h4>
      <!--Text-->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <a href="{% url 'law-more' %}"><button type="button" class="btn btn-light-blue btn-md">Read more</button></a>
    </div>

  </div>
  <!-- Card -->
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="{% static 'law/assets/img/community/c2.jpeg' %}" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Love Always Wins</h4>
      <!--Text-->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="#"><button type="button" class="btn btn-light-blue btn-md">Read more</button></a>

    </div>

  </div>
  <!-- Card -->
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="{% static 'law/assets/img/community/c3.jpeg' %}" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Love Always Wins</h4>
      <!--Text-->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="#"><button type="button" class="btn btn-light-blue btn-md">Read more</button></a>

    </div>

  </div>
  <!-- Card -->
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="{% static 'law/assets/img/community/c4.jpeg' %}" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Love Always Wins</h4>
      <!--Text-->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="#"><button type="button" class="btn btn-light-blue btn-md">Read more</button></a>

    </div>

  </div>
  <!-- Card -->
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="{% static 'law/assets/img/community/c5.jpeg' %}" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Love Always Wins</h4>
      <!--Text-->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <a href="#"><button type="button" class="btn btn-light-blue btn-md">Read more</button></a>

    </div>

  </div>
  <!-- Card -->
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="{% static 'law/assets/img/community/community.png' %}" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Love Always Wins</h4>
      <!--Text-->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="#"><button type="button" class="btn btn-light-blue btn-md">Read more</button></a>

    </div>

  </div>
  <!-- Card -->
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="{% static 'law/assets/img/community/community.png' %}" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Love Always Wins</h4>
      <!--Text-->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="#"><button type="button" class="btn btn-light-blue btn-md">Read more</button></a>

    </div>

  </div>
  <!-- Card -->
</div>


</div>
<!-- Card deck -->

</div>
<hr>
<!-- tempraral articals -->
<!-- Start: Article Clean -->
   <div class="article-clean">
       <div class="container">
           <div class="row">
               <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                   <!-- Start: Intro -->
                   <div class="intro">
                       <h1 class="text-center">LOVE IS STRONG</h1>
                       <!-- Start: Date and Author -->
                       <p class="text-center"><span class="by">by</span> <a href="#">Author Name</a><span class="date">Sept 8th, 2016 </span></p>
                       <!-- End: Date and Author --><img class="img-fluid" src="{% static 'law/assets/img/community/c2.jpeg' %}"></div>
                   <!-- End: Intro -->
                   <!-- Start: Text -->
                   <div class="text">
                       <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</P>
                       <h2>Love Always Wins</h2>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


                   </div>
                   <!-- End: Text -->
               </div>
           </div>
       </div>
   </div>
   <!-- End: Article Clean -->
<!-- start comment section -->
<div class="row bootstrap snippets">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Comment panel
                </div>
                <div class="panel-body">
                    <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                    <br>
                    <button type="button" class="btn btn-info pull-right">Post</button>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list">
                        <li class="media">
                            <a href="#" class="pull-left">
                                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">30 min ago</small>
                                </span>
                                <strong class="text-success">@jameskaggwa</strong>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, <a href="#">#lovealwayswins</a>.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ends comment section -->

   <!-- End: Articles -->


       {% include '../law/footer.html' %}

       <!-- js links -->
       <script src="assets/js/jquery.min.js"></script>
       <script src="assets/bootstrap/js/bootstrap.min.js"></script>
       <script src="assets/js/script.min.js"></script>

   </body>

   </html>
