{% load static %}
{% include "../law/header.html" %}

<body class="community_body">

{% include '../law/menu.html' %}
    <!-- header -->
    <header class="masthead" style="background-image:url({% static 'law/assets/img/community/community.png' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>Community Views</h1><span class="subheading">We Love, No Hate!</span></div>
                </div>
            </div>
        </div>
    </header>
  <!-- header -->

  <!-- cards -->
  <div class="row row-card">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'law/assets/img/community/c1.jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Love wins</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>
          <a href="#" class="btn btn-primary">Read more &rarr;</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'law/assets/img/community/c2.jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Love wins</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#" class="btn btn-primary">Read more &rarr;</a>
        </div>
      </div>
    </div>
  </div>
  <!-- cards -->
<!-- smooth scrolling -->

  <ul class="ul-elem">
    <li class="list-elem" id=""><a href="#card1">Love</a></li>
    <li class="list-elem" id=""><a href="#card2">Hate</a></li>
    <li class="list-elem" id=""><a href="#card3">Peace</a></li>
    <li class="list-elem" id=""><a href="#card4">Success</a></li>
    <li class="list-elem" id=""><a href="#card5">Community</a></li>
  </ul>

  <div id="container-side-scroll">
    <div id="web"><h1></h1></div>
    <div id="dev"><h1></h1></div>
    <div id="trick"><h1></h1></div>
    <div id="dot"><h1></h1></div>
    <div id="com"><h1></h1></div>
  </div>
  <!-- smooth scrolling -->

</body>
</html>



{% include '../law/footer.html' %}
{% include '../law/js.html' %}
   </body>

   </html>
