{% load static %}
{% include "../law/header.html" %}

<body class="main_body">

    {% include '../law/menu.html' %}

    <!-- dont touch this Dad i will fix it later -->

    <!-- dont touch this Dad i will fix it later -->
    <header class="masthead bg-transparent">
        <div class=""></div>

    <header class="masthead bg-transparent">
        <div class="overlay bg-transparent"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">

                </div>
            </div>
        </div>
    </header>
    <!-- dont touch this Dad i will fix it later -->


    <!-- bottom buttons start -->
    <div class="container-button">
      <a class="navbar-brand" href="donate.php"><button class="btn btn1">Donate Now</button></a>
      <a class="navbar-brand" href="joinus.php"><button class="btn btn2">Join Us Now</button></a>
      <a class="navbar-brand" href="getinvolved.php"><button class="btn btn1">Get Involved</button></a>
    </div>
    <!-- bottom button Ends -->



    {% include '../law/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    {% include '../law/js.html' %}
    <!--
    <script src="{% static 'law/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'law/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'law/assets/js/script.min.js' %}"></script>
    -->

</body>

</html>
