
{% extends "law/base.html" %}
{% block content %}



    <!-- dont touch this Dad i will fix it later -->
        <header class="masthead bg-transparent">
            <div class="overlay bg-transparent"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto">

                            {% for post in posts %}
                                <h1>{{ post.title }}</h1>
                                <p>By {{ post.author }} on {{ post.date_posted|date:"F d, Y" }}</p>
                                <p>{{ post.content }}</p>
                            {% endfor %}

                    </div>
                </div>
            </div>
        </header>
        <!-- dont touch this Dad i will fix it later -->


    <!-- bottom buttons start -->
    <div class="container-button">
      <a class="navbar-brand" href="donate.php"><button class="btn btn1">Donate Now</button></a>
      <a class="navbar-brand" href="joinus.php"><button class="btn btn2">Join Us Now</button></a>
      <a class="navbar-brand" href="getinvolved.php"><button class="btn btn1">Get Involved</button></a>
    </div>
    <!-- bottom button Ends -->

    {% endblock content %}
