{% load static %}
<!-- js links -->
<script src="{% static 'law/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'law/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'law/assets/js/script.min.js' %}"></script>
<script src="{% static 'law/assets/js/jquery-1.10.2.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'law/assets/js/shards.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'law/assets/js/custom.js' %}"></script>
<script src="{% static 'law/assets/js-engine-slider/jquery.js"' %}></script>
<script src="{% static 'law/assets/js-engine-slider/amazingslider.js"' %}></script>
<script src="{% static 'law/assets/js-engine-slider/initslider-1.js"' %}></script>
<!-- links to login box -->
{% if title == "Login" %}
<script src="{% static 'law/assets/js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'law/assets/js/bootstrap.js' %}"></script>
<script src="{% static 'law/assets/js/login-register.js' %}"></script>
{% endif %}
<!-- link to gallery -->
{% if title == "Gallery" %}
<script src="{% static 'law/assets/js/lightbox-plus-jquery.min.js' %}"></script>
{% endif %}
<!-- chat js -->
{% if title == "Chat" %}
<script src="https://use.typekit.net/hoy3lrg.js"></script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<script src="{% static 'law/assets/js/custom.js' %}"></script>
<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
<script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
<script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
{% endif %}
