/* css for cards */
.card{
  margin: 5% 0%;
}

.card-body{
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}

/* css for comment section */
.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
/* smooth scroling */
ul{
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(50%);
  margin: 0;
  padding: 0;
  z-index: 1;
}
ul li{
  list-style: none;
}
#container{
  width: 100%;
  height: 100vh;
}
#container div{
  position: relative;
  width: 100%;
  height: 100%;
}

#container div h1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 8rem;
  color: #fff;
}
ul li a{
  display: block;
  text-decoration: none;
  height: 30px;
  font-size: 24px;
  background: #fff;
  width: 140px;
  color: #262626;
  margin: 4px 0;
  padding-left: 15px;
  text-transform: uppercase;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  line-height:30px;
}
ul li a:hover{
  background: #333;
  text-decoration: none;
  color: #fff;
}
#container{
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-Y: scroll;
}
#container div#web{
  background-color: #00ced1;
}
#container div#dev{
  background-color: #f05855;
}
#container div#trick{
  background-color: #2bb673;
}
#container div#dot{
  background-color: #2bb673;
}
#container div#com{
  background-color: #c72339;
}
